.tile {
    width: 12.5%;
    height: 12.5%;
    position: relative;
}

.black {
    background-color: rgb(47, 120, 120);
}

.white {
    background-color: rgb(206, 201, 146);
}

.board {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
    flex-wrap: wrap;
    box-shadow: rgba(100, 100, 111, 0.5) 0px 7px 29px 0px;
}

.draggable-wrapper {
    transform: translate(0, 0);
    cursor: grab;
}

.promotion-menu__wrapper {
    display: flex;
    flex-direction: row;
    width: 200%;
    position: absolute;
    transform: translateX(-25%) translateY(-120%);
    border-radius: 10px;
    background-color: white;
    box-shadow: rgba(100, 100, 111, 0.5) 0px 3px 15px 0px;
}

.black .menu-item:hover {
    filter: brightness(120%);
}

.white .menu-item:hover {
    filter: brightness(80%);
}
